.ulBreadcrumb{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.ulBreadcrumb li, a{
    padding: 2px;
    font-size: 14px;
    color:grey;
}

.ulBreadcrumb a{
    text-decoration: none;
}