.Search{
  width: 100%;
}

form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

input{
  height:50px; 
  padding:10px;
  margin: 2px;
  font-size: 15px;
  border-radius:5px;
  border:3px solid #3b86c4;
  outline:none; 
}

form input[type=text]{
  width:540px;
}

form input[type=submit] {
  width:100px;
  text-align:center;
  color:white; 
  background: #3b86c4;
  cursor:pointer;
}

form a{
  padding:0;
}